.kotoros {
  position: fixed;
  bottom: -12px;
  right: 32px;
  width: 64px;
  height: 64px;
  z-index: 45;
  opacity: 0.9;
  pointer-events: none;
  animation: fadeIn 1.2s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
